@import "tailwindcss";

@theme {
  --primary: var(--primary-color, #ffb100);
  --primary-rgb: var(--primary-color-rgb, 255, 177, 0);
}

:root {
  --primary-color: #ffb100;
  --primary-color-rgb: 255, 177, 0;
}
